body{
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#myChart{

    width: 50rem;
    height:22rem;

}

h1{
    color:teal
}

#button-container{

    margin-top: 3rem;
}

#data-type-container{
    align-self: auto;
}